@model PersonelCreateVM

<form asp-action="Index" asp-controller="Personel" method="post">
    <input type="text" asp-for="Name" /><br />
    <input type="text" asp-for="Surname"/><br />
    <button>Submit</button>
</form>